main-workflows/AEM_Main_Hourly.json
{
  "name": "AEM_Main_Hourly",
  "nodes": [
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "KP56l3Fse7KMauvg",
          "mode": "list",
          "cachedResultUrl": "/workflow/KP56l3Fse7KMauvg",
          "cachedResultName": "AEM_Sub_ActionPrepareAIPayload"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        128,
        -112
      ],
      "name": "Call AEM_Sub_ActionPrepareAIPayload",
      "id": "028a6706-2de7-4f2c-a1c4-c5ba880229de"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "vY93Y8afxeDTILlF",
          "mode": "list",
          "cachedResultUrl": "/workflow/vY93Y8afxeDTILlF",
          "cachedResultName": "AEM_Sub_ActionCreateTask"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        400,
        -112
      ],
      "name": "Call AEM_Sub_ActionCreateTask",
      "id": "8242c6d8-c68b-46c4-a639-678946bc5e1d"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "aOuDl0ySnZ7MkEn0",
          "mode": "list",
          "cachedResultUrl": "/workflow/aOuDl0ySnZ7MkEn0",
          "cachedResultName": "AEM_Sub_ActionLabels"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "id": "={{ $json.id }}",
            "actionEmailId": "={{ $json.actionEmailId }}"
          },
          "matchingColumns": [
            "id",
            "actionEmailId"
          ],
          "schema": [
            {
              "id": "id",
              "displayName": "id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            },
            {
              "id": "actionEmailId",
              "displayName": "actionEmailId",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "canBeUsedToMatch": true,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.2,
      "position": [
        656,
        -112
      ],
      "name": "Call AEM_Sub_ActionLabels",
      "id": "1d2c2645-187a-4ae2-ad9c-cb4fd9fde934"
    },
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "hours",
              "triggerAtMinute": 30
            }
          ]
        }
      },
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        -368,
        144
      ],
      "id": "438f0f6f-d004-4d87-b3b1-ae88579e397f",
      "name": "Schedule Trigger"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "RMDrHtO_rN-D8IcGfTY0P",
          "mode": "list",
          "cachedResultUrl": "/workflow/RMDrHtO_rN-D8IcGfTY0P",
          "cachedResultName": "AEM_Sub_DraftReply"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        160,
        736
      ],
      "id": "0208c78c-3c68-4355-9d4d-5cf848e9b0c4",
      "name": "Call AEM_Sub_DraftReply"
    },
    {
      "parameters": {
        "workflowId": {
          "__rl": true,
          "value": "whLlpZzRIsXL6xGL",
          "mode": "list",
          "cachedResultUrl": "/workflow/whLlpZzRIsXL6xGL",
          "cachedResultName": "AEM_Sub_ActionChangedTasks"
        },
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {},
          "matchingColumns": [],
          "schema": [],
          "attemptToConvertTypes": false,
          "convertFieldsToString": true
        },
        "options": {}
      },
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        144,
        304
      ],
      "id": "f6aaff8b-b8ee-46e3-a180-ba4f6814a09f",
      "name": "Call AEM_Sub_ActionChangedTasks"
    },
    {
      "parameters": {
        "content": "## Create sync between Action Required emails and tasks",
        "height": 400,
        "width": 912
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        -240
      ],
      "typeVersion": 1,
      "id": "0dcdc7d1-8cd2-4a86-8391-4e60148918e9",
      "name": "Sticky Note"
    },
    {
      "parameters": {
        "content": "## Sync Action Required emails and tasks",
        "height": 400,
        "width": 912
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        176
      ],
      "typeVersion": 1,
      "id": "53ad26b3-070b-422b-9104-3bf5500118ff",
      "name": "Sticky Note1"
    },
    {
      "parameters": {
        "content": "## Draft replies to Needs Reply emails",
        "height": 400,
        "width": 912
      },
      "type": "n8n-nodes-base.stickyNote",
      "position": [
        0,
        592
      ],
      "typeVersion": 1,
      "id": "ecf5af9a-a773-40fe-bb24-8fbb8b33a54b",
      "name": "Sticky Note2"
    }
  ],
  "pinData": {},
  "connections": {
    "Call AEM_Sub_ActionPrepareAIPayload": {
      "main": [
        [
          {
            "node": "Call AEM_Sub_ActionCreateTask",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Call AEM_Sub_ActionCreateTask": {
      "main": [
        [
          {
            "node": "Call AEM_Sub_ActionLabels",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Call AEM_Sub_ActionPrepareAIPayload",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call AEM_Sub_ActionChangedTasks",
            "type": "main",
            "index": 0
          },
          {
            "node": "Call AEM_Sub_DraftReply",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": true,
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "versionId": "21b64ead-62c3-4f89-8494-576ee7a527e3",
  "meta": {
    "instanceId": "56a546582ceba2a43549bbc9bf7fc86020b83e1b5db93b111b47c1cf4ee5f7c0"
  },
  "id": "MGkxj-RrkQOJ7-3wXR85m",
  "tags": []
}